$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;

body{
  font-family: 'Open Sans', sans-serif;
}

.wrapper_wide{
  width: 90%;
  margin: 0 auto;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny{
  width: 60%;
  margin: 0 auto;
}

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after{
  clear: both;
}

.button{
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius:  2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
}

.button_highlight{
  background: $highlight;
  transition:  background .4s ease-in-out;
  &:hover{
    background: darken($highlight, 7.5%);
  }
}

.button_white{
  background: $white;
  color: $dark;
  transition:  background .4s ease-in-out;
  &:hover{
    background: darken($white, 7.5%);
  }
}

#main_header{
  color: $dark;
  background: $white;
  padding: 2.5rem 0;
  #logo{
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $dark;
      text-decoration: none;
  }
  nav {
    float: right;
    ul{
      list-style: none;
      margin: 0;
       li{
        display: inline;
         margin-left: 2.5rem;
         a{
          color: $dark;
          text-decoration: none;
        }
      }
    }
  }
}

#banner{
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  h1{
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 8rem 0;
  }
}

.podcast_banner{
  background-image: url(../images/podcastindex.jpg);
}

@import 'home';
@import 'normalize';
@import 'podcast';